.profile__edit-photo {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 120px;
  overflow: hidden;
  margin: 0 30px 0 0;
  padding: 0;
  position: relative;
  width: 120px;
}

.profile__edit-photo::after {
  background: rgba(0, 0, 0, 0.8) url("../../../images/icon-edit.svg") no-repeat center;
  background-size: 26px 26px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0;
  top: 0;
  transition: all ease-out 0.15s;
  width: 100%;
}

.profile__edit-photo:hover::after {
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .profile__edit-photo {
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__edit-photo {
    margin: 0 0 26px 0;
  }
}
