.profile__edit-button {
  background: transparent url("../../../images/icon-edit.svg") no-repeat center;
  background-size: 10px 10px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  padding: 0;
  transition: opacity ease-out 0.15s;
  width: 24px;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    background-size: 7.5px 7.5px;
    height: 18px;
    width: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
