.profile {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
  padding: 39px 0 0;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding: 30px 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding: 42px 19px 0;
  }
}
