.profile__edit-icon {
  height: 26px;
  left: 50%;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity ease-out 0.3s;
  width: 26px;
  z-index: 2;
}
