@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__inner/profile__inner.css);
@import url(../blocks/profile/__edit-photo/profile__edit-photo.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__box/profile__box.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/photos/photos.css);
@import url(../blocks/photos/__list/photos__list.css);
@import url(../blocks/photos/__item/photos__item.css);
@import url(../blocks/photos/__img/photos__img.css);
@import url(../blocks/photos/__inner/photos__inner.css);
@import url(../blocks/photos/__title/photos__title.css);
@import url(../blocks/photos/__delete/photos__delete.css);
@import url(../blocks/photos/__likes/photos__likes.css);
@import url(../blocks/photos/__like/photos__like.css);
@import url(../blocks/photos/__count/photos__count.css);
@import url(../blocks/photos/__like/_active/photos__like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_bg_dark/popup_bg_dark.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_size_big/popup__container_size_big.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__title/_indent_small/popup__title_indent_small.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form-box/popup__form-box.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/_type_error/popup__field_type_error.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__submit/_indent_none/popup__submin_indent_none.css);
@import url(../blocks/popup/__submit/_disabled/popup__submit_disabled.css);
@import url(../blocks/popup/__image-figure/popup__image-figure.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-caption/popup__image-caption.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__error/_visible/popup__error_visible.css);
