.photos__delete {
  background: transparent url("../../../images/icon-delete.svg") no-repeat center;
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  height: 19px;
  padding: 0;
  position: absolute;
  transition: opacity ease-out 0.15s;
  top: 20px;
  right: 20px;
  width: 18px;
  z-index: 1;
}

.photos__delete:hover {
  opacity: 0.5;
}
