.profile__add-button {
  background: transparent url("../../../images/icon-plus.svg") no-repeat center;
  background-size: 22px 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 50px;
  padding: 0;
  transition: opacity ease-out 0.15s;
  width: 150px;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    background-size: 16px 16px;
    width: 100%;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}
