.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 74px 0;
  }
}
