.popup__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 9px;
}

.popup__field:not(:last-of-type) {
  margin: 0 0 30px 0;
}

.popup__field::placeholder {
  color: #c4c4c4;
}
