.popup__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  outline: none;
  padding: 0 0 9px;
  width: 100%;
}

.popup__field::placeholder {
  color: #c4c4c4;
}
